body {
    display: block;               
}

.div-container {
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 12%;
    margin-right: 12%;         
}

.header {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    display: block;
    margin-left: 5%;     
}

h1 {    
    color: #264d73;                      
}

nav {
    display: flex;          
}

nav a {
    border: #264d73 solid 1px;
    border-radius: 4px;
    font-size: 17px; 
    text-decoration: none;
    margin: 5px;           
    padding: 7px;
    color: #3d3d3d;
    background-color: #e8e8e8;        
}

nav :hover {
    background-color:#264d73;
    color : #fff    
}

.section1 {
    font-family: Arial,Helvetica,sans-serif;
    display: block;
    margin-left: 5%;
    margin-top: 15px;
}

.section1 h2 {
    color: #264d73;
    margin-bottom: 15px;
}

#in-add-hero {
    width: 100%;
    height: 35px;
    margin-top: 10px;
}

#b-add-hero {
    border: #264d73 solid 1px;
    border-radius: 4px;
    font-size: 17px; 
    text-decoration: none;               
    padding: 7px;
    color: #3d3d3d;
    background-color: #e8e8e8;
    margin-top: 10px;
    margin-bottom: 20px;
}

#b-add-hero:hover {
    background-color:#264d73;
    color : #fff
}

#hero-list-heroes {
    list-style: none;
    display: inline-block;    
}

.new-li {    
    background-color: #ddd;
    margin: 3px;
}

.hero-id {
    border: #fff solid 1px;
    border-radius: 4px;
    font-size: 14px; 
    text-decoration: none;               
    padding: 7px;
    color: #fff;
    background-color: #264d73;
    margin: 2px;
}

.hero-name {    
    font-size: 16px;
    border: none; 
    text-decoration: none;               
    padding: 7px;
    color: #3d3d3d;
    background-color: #eee;
    width: 180px;
    margin: 2px;
}

.bDeleteHeroe {
    border: #264d73 solid 1px;
    border-radius: 4px;
    font-size: 14px; 
    text-decoration: none;               
    padding: 7px;
    color: #3d3d3d;
    background-color: #fff;
    margin: 2px;
}

.bDeleteHeroe:hover {
    color: #fff;
    background-color: #264d73;
}

.section2 {
    font-family: Arial,Helvetica,sans-serif;
    display: block;
    margin-top: 20px;
    margin-left: 5%;       
}

.section2 h2 {
    color: #a80000;
    font-weight: lighter;
}

#clear-messages-heroes {
    border: #264d73 solid 1px;
    border-radius: 4px;
    font-size: 17px; 
    text-decoration: none;
    margin-top: 20px;           
    padding: 7px;
    color: #3d3d3d;
    background-color: #e8e8e8;
}

#clear-messages-heroes:hover {
    background-color: #264d73;
    color: #fff;
}

#messages-list-heroes {
    list-style: none;
    margin-top: 20px;
}


@media only screen and (max-width : 600px) {

    body {
        display: block;               
    }

    .div-container {
        display: block;
        margin-top: 50px;
        margin-bottom: 30px; 
        margin-left: 1%;       
        margin-right: 1%;         
    }

    .header {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 20px;
        display: block;
        margin-left: 1%;     
    }
    
    h1 {    
        color: #264d73;                      
    }
    
    nav {
        display: flex;          
    }
    
    nav a {
        border: #264d73 solid 1px;
        border-radius: 4px;
        font-size: 17px; 
        text-decoration: none;
        margin: 5px;           
        padding: 7px;
        color: #3d3d3d;
        background-color: #e8e8e8;        
    }
    
    nav :hover {
        background-color:#264d73;
        color : #fff    
    }

    .section1 {
        font-family: Arial,Helvetica,sans-serif;
        display: block;
        margin-left: 1%;
        margin-top: 15px;
    }
    
    .section1 h2 {
        color: #264d73;
        margin-bottom: 15px;
    }
    
    #in-add-hero {
        width: 100%;
        height: 35px;
        margin-top: 10px;
    }
    
    #b-add-hero {
        border: #264d73 solid 1px;
        border-radius: 4px;
        font-size: 17px; 
        text-decoration: none;               
        padding: 7px;
        color: #3d3d3d;
        background-color: #e8e8e8;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    #b-add-hero:hover {
        background-color:#264d73;
        color : #fff
    }
    
    #hero-list-heroes {
        list-style: none;
        display: inline-block;    
    }
    
    .new-li {    
        background-color: #ddd;
        margin: 3px;
    }
    
    .hero-id {
        border: #fff solid 1px;
        border-radius: 4px;
        font-size: 14px; 
        text-decoration: none;               
        padding: 7px;
        color: #fff;
        background-color: #264d73;
        margin: 2px;
    }
    
    .hero-name {    
        font-size: 16px;
        border: none; 
        text-decoration: none;               
        padding: 7px;
        color: #3d3d3d;
        background-color: #eee;
        width: 180px;
        margin: 2px;
    }
    
    .bDeleteHeroe {
        border: #264d73 solid 1px;
        border-radius: 4px;
        font-size: 14px; 
        text-decoration: none;               
        padding: 7px;
        color: #3d3d3d;
        background-color: #fff;
        margin: 2px;
    }
    
    .bDeleteHeroe:hover {
        color: #fff;
        background-color: #264d73;
    }
    
    .section2 {
        font-family: Arial,Helvetica,sans-serif;
        display: block;
        margin-top: 20px;
        margin-left: 1%;       
    }
    
    .section2 h2 {
        color: #a80000;
        font-weight: lighter;
    }
    
    #clear-messages-heroes {
        border: #264d73 solid 1px;
        border-radius: 4px;
        font-size: 17px; 
        text-decoration: none;
        margin-top: 20px;           
        padding: 7px;
        color: #3d3d3d;
        background-color: #e8e8e8;
    }
    
    #clear-messages-heroes:hover {
        background-color: #264d73;
        color: #fff;
    }
    
    #messages-list-heroes {
        list-style: none;
        margin-top: 20px;
    }

}